/* breadcrumbs */
.breadcrumbs {
    max-width: 1200px;
    margin: 2px auto;
}
.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}
.breadcrumbs .crumb:after {
   content: '>';
   margin-left: 10px;
   color: #595959;
}
.breadcrumbs .crumb:last-child:after {
    display: none;
}
.breadcrumbs .crumb a {
    color: #ddd
}

