@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #1a1c8d, #7aa9f3, #b8eef0);
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;

}

@media screen and (min-width: 600px) {
  .auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color:rgb(9, 12, 200);
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ */



/* NavBar  */
.NavBarItems {
  background: linear-gradient(90deg, #d2e1f9);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #11417c;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #11417c;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-menu.active {
  background: blue ;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translates(25%, 50%);
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
}

nav a {
  display: inline;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(9, 22, 207);
  border-bottom: 2px solid rgb(9, 5, 231);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(9, 12, 200);
  border-bottom: 2px solid rgb(9, 6, 209);
  background-color: rgb(193, 214, 255);

}

@media screen and (max-width: 697px) {
  .NavBarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background:rgb(9, 12, 200);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1
  }
  .nav-links:hover {
    background-color: #1a1c8d;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
